# Dependencies
node_modules
.pnp
.pnp.js

# Environment variables
.env
.env.test
.env.production

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
logs
*.log
npm-debug.log*

# OS files
.DS_Store
Thumbs.db

# Deployment
deployment_package*.zip

# Editor
.vscode
.idea
